h1 {
	text-align: center;
	font-family: Helvetica;
	color: white;

}
h2, h3, p {
	text-align: center;
	font-family: Helvetica;
}

.hero {
	display: block;
    margin: 0 auto;
    background-image: url("resources/the-flatiron-building.png");
	text-align: center;
}

img.center {
   
}